<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<f:view locale="#{langCode}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>ERROR</title>
	<style>
	body {
		margin: 20px;
		padding: 0px;
		color: #333333;
		font-size: 14px;
		font-family: Arial, Helvetica, sans-serif;	
		line-height: 21px;
	}
	a:link, a:visited, a:active {
		color:#ec0808;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	p {
		padding: 7px 0px;
		margin: 0px;
	}
	</style>
</head>
	<body>
		<center>
			<table>
				<tr>
					<td>
						<center>
						ERROR<br/>
						ERROR<br/>
						ERROR<br/><br/>
						ERROR:<a href="#">ERROR</a><br/>
						</center>
					</td>
				</tr>
			</table>
		</center>
	</body>
</f:view>
</html>