<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui"
	template="/templates/admin-layout.xhtml">

<ui:define name="content-template">
admin
</ui:define>	

</ui:composition>