<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/master-layout.xhtml">


<ui:define name="content-template">
<h:form id="llll"></h:form>
	<ui:include src="index.xhtml" />	
	<p:commandButton value="Mentés" actionListener="#{sampleSessionBean.changeString()}" update=":alma :korte"></p:commandButton>
	
	<h:panelGroup id="alma">
		<h:outputText value="#{sampleSessionBean.sessionMs}" />
	</h:panelGroup>
</ui:define>	

</ui:composition>