<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/master-layout-bo.xhtml">


<ui:define name="content">
<!-- sdds -->
<h:form id="alma">
	#{sampleSessionBean.sessionMs}()
</h:form>
	<p:dataTable var="user" value="#{sampleSessionBean.userList}"

	>
    
    <p:column headerText="Name" >
        <h:outputText value="#{user.name}" />
    </p:column>
 
    <p:column headerText="Address">
        <h:outputText value="#{user.address}" />
    </p:column>
 
    <p:column headerText="Email">
        <h:outputText value="#{user.email}" />
    </p:column>
    <p:column headerText="Phone">
        <h:outputText value="#{user.phoneNumber}" />
    </p:column>
</p:dataTable>

<p:commandButton value="VVVV" 
actionListener="#{sampleSessionBean.changeString()}"
update=":alma"
></p:commandButton>	
</ui:define>	

</ui:composition>