<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/master-layout.xhtml">


<ui:define name="content-template">
	<p:dataTable var="user" value="#{usersViewBean.users}">
		<p:columns 
			value="#{usersViewBean.columns}" 
			var="column"
			headerText="#{column.header}">
			<h:outputText value="#{user[column.property]}" />
		</p:columns>
	</p:dataTable>	
</ui:define>	

</ui:composition>