<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/master-layout.xhtml">

	<ui:define name="head-extra">
		<link
			href="#{facesContext.externalContext.requestContextPath}/public/styles/module-login-bo.css"
			rel="stylesheet" type="text/css" />
	</ui:define>
	
	<ui:define name="content-template">
		<h:panelGroup layout="block" styleClass="accessdenied-page">
			<h:outputText value="#{msg['login-bo.access-denied.title']}" styleClass="title" />
			
			<h:panelGroup layout="block" styleClass="login-form">
				<p:panelGrid columns="1" styleClass="align-center-helper">
					
					<h:panelGroup layout="block" styleClass="access-denied-info">#{msg['login-bo.messages.access-denied.info']}</h:panelGroup>
					
					<h:panelGroup layout="block" styleClass="login-button-container">
						<a href="/backoffice/j_spring_security_logout" id="logoutSend" class="ui-button ui-button-native ui-widget ui-state-default ui-corner-all ui-button-text-only">
							<span class="ui-button-text ui-c">#{msg['login-bo.access-denied.button.logout']}</span>
						</a>
					</h:panelGroup>
				</p:panelGrid>
			</h:panelGroup>
			
		</h:panelGroup>
	</ui:define>

</ui:composition>


