<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/master-layout.xhtml">

	<ui:define name="head-extra">
		<link
			href="#{facesContext.externalContext.requestContextPath}/public/styles/module-login-bo.css"
			rel="stylesheet" type="text/css" />
	</ui:define>
	<ui:define name="content-template">
	
		<h:panelGroup layout="block" styleClass="login-page">
	
			<h:panelGroup layout="block">
					<ui:include src="/assets/login-form-bo.xhtml"></ui:include>
			</h:panelGroup>
			
			<h:panelGroup layout="block" styleClass="language-select-container">
				<h:form id="languageChangeForm">
					<p:panelGrid columns="#{languageBackoffice.countriesInMap.size()}" styleClass="languages-panel-grid">
						<c:forEach var="localeEntry" items="#{languageBackoffice.countriesInMap}">
							<p:commandLink ajax="false" disabled="#{languageBackoffice.currentLocale.language.equals(localeEntry.value.language)}" actionListener="#{languageBackoffice.setCountryLocalCode(localeEntry.key)}">
								<ui:param name="flagIconPath" value="img/languages/#{localeEntry.value.country}_24.png" />
								<h:graphicImage value="#{pubres[flagIconPath]}" alt="#{localeEntry.key}" />
							</p:commandLink>
						</c:forEach>
					</p:panelGrid>
				</h:form>
			</h:panelGroup>
		</h:panelGroup>
	</ui:define>

</ui:composition>


