<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/master-layout-webshop.xhtml">

	<ui:define name="head-extra">
		<link
			href="#{facesContext.externalContext.requestContextPath}/public/styles/layout-customer-login.css"
			rel="stylesheet" type="text/css" />
		<link
			href="#{facesContext.externalContext.requestContextPath}/public/styles/module-login.css"
			rel="stylesheet" type="text/css" />
		<script src="#{facesContext.externalContext.requestContextPath}/public/js/iframeResizer.js"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/public/js/tabbed-customer-login.js"></script>
		
		<script type="text/javascript">
			$(document).ready(function(){
				$('#registration-frame').iFrameResize({});
			});

			function scrollToError(){
				var iframe = $('iframe');
				var error = iframe.contents().find('ul.messages');
				var inputs = iframe.contents().find('div.registration-fields-container');
				
				if(error.length > 0){
					$('html, body').animate({scrollTop: iframe.offset().top + error.offset().top - 50}, 2000);
				} else if(inputs.find('input').hasClass('ui-state-error')){
					$('html, body').animate({scrollTop: iframe.offset().top + inputs.offset().top - 50}, 2000);
				}
			}
		</script>
	</ui:define>
	<ui:define name="content">
		<h:panelGroup id="customerLoginContainer" layout="block" styleClass="customer-login-container">
			<h:panelGroup id="loginContainer" layout="block" styleClass="customer-login-containers">
				<ui:include src="/assets/login-form.xhtml"></ui:include>
			</h:panelGroup>
				
			<h:panelGroup id="registrationIframeContainer" layout="block" styleClass="registration-iframe-container">
				<!-- helper mobile verzióhoz -->
				<h:outputText id="iframeTitleHelper" styleClass="hidden" value="#{msg['registration.registration.title']}" />
				
				<iframe frameborder="0" scrolling="no" horizontalscrolling="no" verticalscrolling="no" id="registration-frame" src="/registration/public/registration/registration.xhtml?orderId=#{sessionScope['orderId']}&amp;secretToken=#{sessionScope['secretToken']}"></iframe>
			</h:panelGroup>
		</h:panelGroup>
	</ui:define>

</ui:composition>


