.customer-login-container {
	/*margin: 0 10%;*/
	width: 100%;
	display: table;
	padding: 0px;
}
.customer-login-containers {
	vertical-align: top;
	border: none;
	display: table-cell;
}

.main-content{
	padding: 0px;
}

.about-us-container{
	display: none;
}

.footer-content{
	padding-top: 20px;
}

.customer-login-container .ui-panelgrid-cell {
	border: none;
}

.reg-logo-container img{
	width: 200px;
	display: block;
	margin: 0 auto;
	padding: 20px 0px;
}

.header-content .offer-menu-container a.offer-link{
	display: none;
}

#registration-frame {
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
	height: 450px;
	overflow: hidden;
}

.registration-iframe-container{
	width: 75%;
	text-align: right;
	display: table-cell;
}

.registration {
	background-color: #f5f2f3;
}

#introduction-link {
	display: none !important;
}

.menubar .about-us-link{
	display: none !important;
}

@media all and (max-width: 640px){
	.header-content .offer-menu-container{
		text-align: center;
	}
	
	.content-container .customer-login-container.ui-tabs .ui-tabs-panel{
		padding: 0;
	}
	
	.content-container .customer-login-container.ui-tabs .ui-tabs-nav{
		display: table;
		width: 100%;
	}
	
	.content-container .customer-login-container.ui-tabs .ui-tabs-nav li{
		display: table-cell;
		width: 50%;
		box-sizing: border-box;
		text-align: center;
	}
	
	.content-container .customer-login-container.ui-tabs .ui-tabs-nav li a{
		width: 100%;
		box-sizing: border-box;
	}
	
	.content-container .customer-login-container.ui-tabs .ui-tabs-nav:after{
		display: none;
	}
	
	.content-container .customer-login-container .customer-login-containers{
		display: block;
		width: 100%;
	}
	
	.content-container .customer-login-container .registration-iframe-container{
		display: block;
		width: 100%;
	}
	
}