.language-select-container{
	position: absolute;
	bottom: 5px;
	text-align: center;
	width: 100%;
}

.language-select-container form{
	display: inline-block;
}

.language-select-container .ui-panelgrid .ui-panelgrid-cell{
	border: 0;
}

.login-page{
	width: 90%;
	max-width:375px;
	position:absolute;
	top:50%;
	left: 0;
	right: 0;
	margin-top:-135px;
	margin-left:auto;
	margin-right: auto;
	box-shadow: 3px 3px 3px -1px #666;
	border-collapse: separate;
}

.login-grid{
	width: 85%;
	margin: 0 auto;
}

.accessdenied-page .title{
	font-size:110%;
	text-transform:uppercase;
	font-weight:bold;
	height:15px;
	color: #d93f2d;
	border-bottom: thick solid #d93f2d;
}

.accessdenied-page{
	width:375px;
	position:absolute;
	top:300px;
	left:50%;
	margin-top:-135px;
	margin-left:-175px;
}

.login-page:before {
  content: "";
  position: inherit;
  top: 0;
  left: 0;
  border-width: 50px 50px 0 0;
  border-style: solid;
  border-color: #eeeeee #ffffff;
}

.login-logo{
	position: relative;
	z-index: 10;
	height: 90px;
	margin-bottom: 15px;
}

.login-logo-container{
	text-align: center;
}

.login-fields-grid{
	width: 100%;
}

.login-fields-grid td:first-child{
	width: 1px;
}

.login-fields-grid td.login-input-container{
	vertical-align: top;
}

.login .login-fields-grid tr:first-child td{
	padding-bottom: 10px;
}

.login-user-img{
	display: block;
}

.login-lock-img{
	display: block;
}

.login-input{
	height:50px;
	margin:0px;
	padding-left: 10px;
	font-size: 16px;
	vertical-align: text-bottom;
	width: 100%;
	box-sizing: border-box;
}

.login-page .title{
	display:block;
	font-size:110%;
	text-transform:uppercase;
	font-weight:bold;
	height:15px;
}

.login-form{
	background-color:#ffffff;
	border:1px solid #eeeeee;
	border-top:0px;
	padding:5px;
	padding-top:20px;
	padding-bottom:35px;
}

.login-form .ui-panelgrid td, .login .ui-panelgrid tr {
	border: none;
	padding: 0px;
}

.login-form .ui-button{
	width:100%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 17px;
}

.login-form .login-button-container{
	margin-top:20px;
	padding: 5px 0px;
}

.login-form .login-button-container button{
	margin: 0px;
}

.login-page .messages .messages-error{
	padding:8px 10px;
	font-size:90%;
	margin-left: 10px;
}

.access-denied-info{
	margin:5px 5px 10px 5px;
	font-size:90%;
}

@media all and (max-height: 435px){
	.login-page{
		margin-top: -155px;
	}
}

@media all and (max-height: 385px){
	.login-logo{
		height: 70px;
	}
	
	.login-input{
		height: 40px;
	}
	
	.login-user-img{
		height: 40px;
	}
	
	.login-form{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.login-form .login-button-container{
		margin-top: 10px;
	}
	
	.login-page{
		margin-top: -125px;
	}
}