#header-menu {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.menu-container {
	float: right;
}

#header-content .language-change{
	float:right;
	margin-left:10px;
}

#header-content .language-change form{
	display:inline;
}

#header-menu-section .logo{
	height:44px;
}

.header-menu-item {
	padding: 0 10px;
	-webkit-transition: color 0.15s ease;
	-moz-transition: color 0.15s ease;
	-o-transition: color 0.15s ease;
	transition: color 0.15s ease;
}

/* State */
.header-menu-item.disabled {
	color: #000000;
}

.header-menu-item:hover,
.header-menu-item-selected {
	text-decoration: none;
}

.languages-panel-grid .ui-panelgrid-cell{
	padding: 0px 5px 0px 0px;
	border: none;
}

#headerContent.backoffice .mobile-close-icon{
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 10px;
	margin: auto 0;
	height: 25px;
	width: 25px;
	background-size: contain;
}

#mobileHeader.backoffice{
	display: none;
	height: 40px;
	margin-bottom: 20px;
	text-align: center;
	position: relative;
}

#mobileHeader.backoffice .current-page{
	line-height: 40px;
	font-size: 20px;
}

#mobileHeader.backoffice .menu-icon{
	position: absolute;
	display: block;
	width: 35px;
	height: 40px;
	vertical-align: middle;
	margin-left: 10px;
	background-size: 70px;
}

@media all and (max-width: 800px) and (min-height: 400px){
	#headerContent{
		min-width: 50%;
	}
	
	#headerContent.backoffice .user-info-container .username{
		display: block;
	}
}

@media all and (max-width: 800px) and (max-height: 399px){
	#headerContent{
		min-width: 100%;
	}
}

@media all and (max-width: 800px){
	#main-content .context-menu{
		display: none;
	}
	
	#mobileHeader.backoffice,
	#headerContent.backoffice .mobile-close-icon{
		display: block;
	}
	
	#headerContent{
		position: fixed;
		top: 0;
		right: 100%;
		z-index: 20;
		height: 100%;
		
		-webkit-transform: translate3d(0%, 0, 0);
		-moz-transform: translate3d(0%, 0, 0);
		-o-transform: translate3d(0%, 0, 0);
		-ms-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);
		
		-webkit-transition: -webkit-transform 0.5s ease-in-out 0s;
		-moz-transition: -moz-transform 0.5s ease-in-out 0s;
		-o-transition: -o-transform 0.5s ease-in-out 0s;
		-ms-transition: -ms-transform 0.5s ease-in-out 0s;
		transition: transform 0.5s ease-in-out 0s;
	}
	
	#headerContent.visible{
		-webkit-transform: translate3d(100%, 0, 0);
		-moz-transform: translate3d(100%, 0, 0);
		-o-transform: translate3d(100%, 0, 0);
		-ms-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	
	#headerContent.mobile .header-info-bar{
		position: static;
	}
	
	#headerContent.backoffice .logo-container,
	#headerContent.backoffice .environment-info-container,
	#headerContent.backoffice .user-info-container{
		display: block;
		text-align: center;
	}
	
	#headerContent.backoffice .logo-container{
		position: relative;
	}
	
	#headerContent.backoffice .logo-container .logo{
		margin: 0 auto;
	}
	
	#header-menu-section{
		margin-bottom: 0;
		padding-top: 0;
		height: auto;
		overflow-y: scroll;
	}
	
	.header-menu-item-selected .dropdown-icon{
		height: 15px;
		width: 15px;
		display: block;
		position: absolute;
		right: 10px;
		top: 0;
		bottom: 0;
		margin: auto 0;
		background-size: contain;
		background-repeat: no-repeat;
		
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
		
		-webkit-transition: -webkit-transform 0.5s ease-in-out 0s;
		-moz-transition: -moz-transform 0.5s ease-in-out 0s;
		-o-transition: -o-transform 0.5s ease-in-out 0s;
		-ms-transition: -ms-transform 0.5s ease-in-out 0s;
		transition: transform 0.5s ease-in-out 0s;
	}
	
	.header-menu-item-selected.open .dropdown-icon{
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	
	#headerContent.backoffice .bo-menu-container{
		float: none;
		display: block;
	}
	
	.bo-menu-container .header-menu-item{
		display: block;
		position: relative;
	}
	
	#main-content:before{
		content: '';
		visibility: hidden;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		opacity: 0;
		z-index: 19;
		
		-webkit-transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;
		-o-transition: opacity 0.5s;
		-ms-transition: opacity 0.5s;
		transition: opacity 0.5s;
	}
	
	#main-content.menu-open:before{
		visibility: visible;
		opacity: 0.5;
	}
}

@media all and (max-width: 500px){
	#headerContent{
		max-width: 70%;
	}
}