.ui-panelgrid .ui-panelgrid-cell{
	padding: 0px;
}

.main-content{
	padding-bottom: 30px;
}

.content-container{
	padding: 20px 10%;
}

.login-form .login{
	margin-top: 20px;
	margin-right:25px;
	margin-left:20px;
}

.login-form .ui-panelgrid td, .login .ui-panelgrid tr {
	border: none;
}

.login-form .ui-panelgrid td{
	padding:0px;
}

.login-form .ui-inputtext{
	width:180px;
	margin: 0px;
}

.login-form .login-button-container{
	margin-top:20px;
	text-align:center;
	padding-top: 20px;
	padding-bottom:20px;
}

.login-form .login-button-container .ui-button{
	width: 100%;
	margin: 0px;
}

.login-form .login-button-container .ui-button-text{
	line-height: 40px;
}

.login-form .login-forgotten-password-container{
	margin-top:10px;
	text-align:center;
}


.login-form .messages .messages-error{
	padding:5px 10px;
}

.login-form .align-center-helper{
	margin-top: 35px;
}

.login-form.box{
	margin: 3px;
	padding: 10px 5px 30px 5px;
	width: 250px;
}

.login-form .login-button-container{
	margin-top:20px;
	padding: 5px;
}

/*.login-form .ui-inputfield:focus{
	border: 1px solid #01a8d5;
}*/

.login-form .login-input-grid{
	margin: 0 auto;
}

.login-form .login-input-grid td{
	padding-bottom: 15px;
}

/*.img-container-focused{
	background: #01a8d5 !important;
}*/

/*.login-form .ui-inputfield{
	border: 1px solid #dcdddf;
}*/

.login-form .login-user-img{
	height: 50px;
	width:50px;	
}

.login-form .login-lock-img{
	height: 50px;	
	width:50px;	
}

.login-form .img-container{
	/*margin-bottom: 15px;*/
	width:50px;
	height:50px;
	vertical-align: middle;
	display: inline-block;
}

.login-form .login-input{
	height:50px;
	box-sizing: border-box;
	margin-left:0px;
	padding-left: 10px;
	font-size: 14px;
	vertical-align: middle;
}

.login-form .captcha-container-login{
	width: 230px;
	overflow: hidden;
}

.login-form .captcha-container-login > div{
	transform: scale(0.76);
	transform-origin: 0 0;
}

.login-form .login-forgotten-password{
	font-size: 12px;
}

@media all and (max-width: 1330px){
	.content-container{
		padding: 20px 5%;
	}
}

@media all and (max-width: 1200px){
	.content-container{
		padding: 20px;
	}
}

@media all and (max-width: 670px){
	.content-container{
		padding: 20px 10px;
	}
}

@media all and (max-width: 640px){
	.content-container .customer-login-container .customer-login-containers .login-form.box{
		margin: 0;
		display: block;
		width: 100%;
		box-sizing: border-box;
	}
	
	.content-container{
		padding: 20px 0%;
	}
}