<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<!-- 	<p:dialog modal="true" widgetVar="globalAjaxLoader" header="#{msg['global.please-wait']}"  -->
<!-- 	        draggable="false" closable="false" styleClass="global-ajax-loader-dialog"> -->
<!-- 		<p:graphicImage value="/public/images/ajax_loader.gif" width="48"/> -->
<!-- 	</p:dialog> -->

	<div id="global-ajax-loader-container">
		<div id="global-ajax-loader"></div>
	</div>
	
	<h:outputScript>
		var ajaxLoaderTimeout = null;
		var ajaxLoaderTimeoutWait = 0;
		var ajaxLoaderDisabled = false;
	
		function resetAjaxLoaderTimeout(){
			if( ajaxLoaderTimeout != null ){
				clearTimeout(ajaxLoaderTimeout);
				ajaxLoaderTimeout = null;
			}
		}
		function showAjaxLoader(millisecs){
			if(ajaxLoaderDisabled){
				ajaxLoaderDisabled = false;
				return;
			}
			if( millisecs != undefined ){
				ajaxLoaderTimeoutWait = millisecs;
			}
			resetAjaxLoaderTimeout();
			//PF('globalAjaxLoader').show();
			$("#global-ajax-loader-container").fadeIn(200);
		}
		function hideAjaxLoader(){
		    ajaxLoaderTimeout = setTimeout(
				function(){
					//PF('globalAjaxLoader').hide();
					$("#global-ajax-loader-container").fadeOut(200);
					ajaxLoaderTimeoutWait = 0;
				}, ajaxLoaderTimeoutWait);
		};
		
		function disableAjaxLoader(){
			ajaxLoaderDisabled = true;
		}
	</h:outputScript>
	
</ui:composition>