<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core" xmlns:p="http://primefaces.org/ui">

	<script type="text/javascript">
		//kiemeli az input melletti divet
		function onStateChange(field){
			if(field == 'username'){
				if( $('.username-img-container').hasClass("img-container-focused") )
					$('.username-img-container').removeClass("img-container-focused");
				else
					$('.username-img-container').addClass("img-container-focused");
			}
			else if(field == 'password'){
				if( $('.password-img-container').hasClass("img-container-focused") )
					$('.password-img-container').removeClass("img-container-focused");
				else
					$('.password-img-container').addClass("img-container-focused");
			}
			
		}

	</script>
	
	<script src="https://www.google.com/recaptcha/api.js?render=explicit&amp;hl=#{language.language}" async="async" defer="defer"></script>
	
	<h:panelGroup id="loginAttempts">
		<h:outputScript>
			if(#{recaptchaBean.isRecaptchaAvailable()}){
				var captchaShown = $('#captcha-container-login').children().length > 0;

				if(captchaShown){
					grecaptcha.reset();
				}
				
				if(#{loginFormBean.captchaRequired} &amp;&amp; !captchaShown){
					grecaptcha.render('captcha-container-login', {
						'sitekey' : '#{recaptchaBean.siteKey}'
					});
				}
			}
		</h:outputScript>
	</h:panelGroup>

	<h:panelGroup layout="block" styleClass="login-form box">
		<h:outputText value="#{msg['login.title']}" styleClass="capital-title" />
		
		<h:form id="selfcareLoginForm">
		
			<h:panelGroup id="loginFailedMessage">
				<h:panelGroup rendered="#{loginFormBean.loginFailed}">
					<ul class="messages">
						<li class="messages-error">#{msg['login.message.failed']} #{loginFormBean.captchaFailed ? msg['login.message.captcha-failed'] : ''}</li>
					</ul>
				</h:panelGroup>
			</h:panelGroup>

			<h:panelGrid columns="1" styleClass="align-center-helper">

				<h:panelGrid columns="2" styleClass="login-input-grid">

					<p:outputPanel styleClass="img-container username-img-container">
						<p:graphicImage layout="block" value="#{pubres['img/theme/user_icon.png']}" styleClass="login-user-img" />
					</p:outputPanel>
					<p:inputText value="#{loginFormBean.username}" type="email" placeholder="#{msg['login.input.loginname']}" styleClass="login-username-input login-input" onfocus="onStateChange('username')"
						onblur="onStateChange('username')" />

					<p:outputPanel styleClass="img-container password-img-container">
						<p:graphicImage layout="block" value="#{pubres['img/theme/lock_icon.png']}" styleClass="login-user-img" />
					</p:outputPanel>
					<p:password value="#{loginFormBean.password}" placeholder="#{msg['login.input.password']}" styleClass="ui-inputtext login-password-input login-input"
						onfocus="onStateChange('password')" onblur="onStateChange('password')" />

				</h:panelGrid>
				
				<div id="captcha-container-login" class="captcha-container-login"></div>

				<h:panelGroup layout="block" styleClass="login-button-container">
					<p:commandButton value="#{msg['login.button.submit']}" action="#{loginFormBean.login}" update="loginFailedMessage :loginAttempts" onstart="showAjaxLoader();" oncomplete="hideAjaxLoader();" />
				</h:panelGroup>

				<h:panelGroup layout="block" styleClass="login-forgotten-password-container">
					<!-- TODO a linket paraméterből kell venni valahonnan: property vagy specializált managedbean -->
					<h:outputLink value="/registration/public/forgotten-password/index.xhtml" styleClass="login-forgotten-password">#{msg['login.forgotten-password']}</h:outputLink>
				</h:panelGroup>
			</h:panelGrid>
		</h:form>
		
	</h:panelGroup>
</ui:composition>