<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<script type="text/javascript">
		//kiemeli az input melletti divet
		function onStateChange(field){
			if(field == 'username'){
				if( $('.username-img-container').hasClass("img-container-focused") )
					$('.username-img-container').removeClass("img-container-focused")
				else
					$('.username-img-container').addClass("img-container-focused")
			}
			else if(field == 'password'){
				if( $('.password-img-container').hasClass("img-container-focused") )
					$('.password-img-container').removeClass("img-container-focused")
				else
					$('.password-img-container').addClass("img-container-focused")
			}

		}
	</script>
<!-- 		<h:outputText value="#{msg['login-bo.title']}" styleClass="title" /> -->

	<form class="login login-form"
			action="j_security_check" method="POST">

			
		<p:panelGrid columns="1" styleClass="login-grid">
			
			<p:outputPanel styleClass="login-logo-container">
				<p:graphicImage value="#{pubres['img/theme/login-logo.png']}" styleClass="login-logo" />
			</p:outputPanel>
			<p:outputPanel rendered="#{loginBean.loginFailed}">
				<ul class="messages">
					<li class="messages-error">#{msg['login-bo.message.failed']}</li>
				</ul>
			</p:outputPanel>
			<p:panelGrid layout="block" columns="2" styleClass="login-fields-grid" columnClasses="login-icon-container,login-input-container">
					<p:outputPanel styleClass="img-container username-img-container">
							<p:graphicImage layout="block" value="#{pubres['img/theme/user_icon.png']}" styleClass="login-user-img"  />
					</p:outputPanel>
					<input id="username-input" type="text" placeholder="#{msg['login-bo.input.loginname']}"
						name="j_username"
						class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all login-input login-username-input" 
						onfocus="onStateChange('username')" onblur="onStateChange('username')" autofocus="autofocus" />
<!-- 						<p:graphicImage value="#{pubres['img/theme/lock_inactive.png']}" styleClass="login-lock-img" /> -->
					<p:outputPanel styleClass="img-container password-img-container">
							<p:graphicImage layout="block" value="#{pubres['img/theme/lock_icon.png']}" styleClass="login-user-img"  />
					</p:outputPanel>
					<input type="password" placeholder="#{msg['login-bo.input.password']}"
						name="j_password"
						class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all login-input login-password-input"
						onfocus="onStateChange('password')" onblur="onStateChange('password')" />
			</p:panelGrid>
<!-- 				<h:panelGroup layout="block"> -->
<!-- 					<p:graphicImage layout="block" value="#{pubres['img/theme/user_inactive.png']}" styleClass="login-user-img"  /> -->
<!-- 					<input type="text" placeholder="#{msg['login-bo.input.loginname']}" -->
<!-- 						name="j_username" -->
<!-- 						class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all login-input login-username-input" /> -->
<!-- 				</h:panelGroup> -->
<!-- 				<h:panelGroup layout="block"> -->
<!-- 					<p:graphicImage value="#{pubres['img/theme/lock_inactive.png']}" styleClass="login-lock-img" /> -->
<!-- 					<input type="password" placeholder="#{msg['login-bo.input.password']}" -->
<!-- 						name="j_password" -->
<!-- 						class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all login-input login-password-input" /> -->
<!-- 				</h:panelGroup> -->
			
			<h:panelGroup layout="block" styleClass="login-button-container">
				<button id="loginSend" class="ui-button ui-button-native ui-widget ui-state-default ui-corner-all ui-button-text-only login-send-button" type="submit" role="button" aria-disabled="false">
					<span class="ui-button-text ui-c">#{msg['login-bo.button.submit']}</span>
				</button>
			</h:panelGroup>
		</p:panelGrid>
	</form>
		
</ui:composition>