<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<h:outputScript>
		$(document).ready(function(){
			if(#{enableTimeoutCheck == null ? true : enableTimeoutCheck}){
				initSessionTimeout(#{facesContext.externalContext.getSession(false).getMaxInactiveInterval()}, #{refresh == null ? true : refresh}, '#{logoutUrl}');
			}
		});
		
		function reloadIframes(){
			var iframes = document.getElementsByTagName('iframe')
			for(var i = 0; i &lt; iframes.length; i++){
				iframes[i].contentWindow.location.reload(true);
			}
		}
	</h:outputScript>
	
	<p:ajaxStatus oncomplete="if(#{enableTimeoutCheck == null ? true : enableTimeoutCheck}){resetSessionTimeoutHandler();}" />
	
	<p:dialog widgetVar="session-timeout-dialog" styleClass="session-timeout-dialog" modal="true" closable="false"
		resizable="false" header="#{msg['global.session-timeout.header']}">
		<h:form>
<!-- 			<h:outputText value="#{msg['global.session-timeout.time-remaining']}" styleClass="time-remaining-label" /> -->
			<h:outputText value="#{msg['global.session-timeout.session-expired']}" styleClass="session-expired-label" />
			
			<h:panelGroup layout="block" styleClass="timeout-dialog-actions">
<!-- 				<p:commandButton value="#{msg['global.session-timeout.button.keep-alive']}" onclick="reloadIframes();" oncomplete="PF('session-timeout-dialog').hide();" styleClass="keep-alive-btn" /> -->
				<p:button value="#{msg['global.session-timeout.button.logout']}" href="#{logoutUrl}" />
			</h:panelGroup>
		</h:form>
	</p:dialog>
</ui:composition>