<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui"
	lang="#{paramCurrentLocale != null ? paramCurrentLocale.language : language.currentLocale.language }">
<f:view locale="#{paramCurrentLocale != null ? paramCurrentLocale : language.currentLocale }">
<h:head>
	<f:facet name="first">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Cache-Control" content="no-store,no-cache,must-revalidate"/> 
		<meta http-equiv="Pragma" content="no-cache"/>  
		<meta http-equiv="Expires" content="-1"/>
		<link type="image/x-icon" rel="icon" href="#{pubres['img/theme/favicon.ico']}"/>
		<title><ui:insert name="capital-title">#{msg['global.header-title']}</ui:insert></title>
		<meta name="description" content="#{msg['global.header-description']}" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />	
		
	</f:facet>
	<!-- primefaces.css -->
	<h:outputScript library="primefaces" name="jquery/jquery.js" />
	<h:outputScript library="js" name="jquery.placeholder.js" />
	
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/public/styles/js/highlight.js"></script>
	<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/public/js/jquery.ba-postmessage.min.js"></script>
			
	<script type="text/javascript" src="#{pubres['js/common/ggl-nlytcs.js']}"></script>
		
	<link type="text/css" rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/style/reset.css" />
	<link type="text/css" rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/style/base.css" />
	<link type="text/css" rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/style/layout-template-master-layout.css" />
	<link type="text/css" rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/style/state.css" />

	<link type="text/css" rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/javax.faces.resource/theme.css.xhtml?ln=theme"/>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
	<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet">-->

	<link href="https://cdn.datatables.net/1.10.8/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
	<link href="#{facesContext.externalContext.requestContextPath}/resources/style/icomoon.css" rel="stylesheet"/>
	<link href="#{facesContext.externalContext.requestContextPath}/resources/style/sidebar.css" rel="stylesheet"/>
	<link href="#{facesContext.externalContext.requestContextPath}/resources/style/datatable.css" rel="stylesheet"/>
	<link href="#{facesContext.externalContext.requestContextPath}/resources/style/styles.less" rel="stylesheet/less" type="text/css"/>

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=cyrillic-ext,latin,greek-ext,latin-ext" rel='stylesheet' type='text/css'/>

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/dataTables.bootstrap.min.js"></script>

	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.3/js/buttons.flash.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.3/js/buttons.html5.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.3/js/buttons.print.min.js"></script>

	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/less.min.js"></script>

	<ui:insert name="head-extra-template"/>
	<ui:insert name="head-extra"/>
	
</h:head> 
<h:body>
	<ui:include src="/assets/globalAjaxLoader.xhtml" />
	
	<ui:include src="/assets/sessionTimeoutAsset.xhtml" />

	<h:panelGroup layout="block" id="wrapper">
		<h:panelGroup layout="block" id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand"><h:commandLink href="#"><img alt="" height="50" src="img/logo.gif"/></h:commandLink></li>

				<h:panelGroup layout="block" class="panel-group" id="fox-menu-accordion" role="tablist" aria-multiselectable="true">
					<h:panelGroup layout="block" class="panel panel-default">
						<h:commandLink data-toggle="collapse" href="#main-menu-accounting" aria-expanded="true" aria-controls="main-menu-collapse">
							<h:panelGroup layout="block" class="panel-heading" role="tab" id="main-menu-header">
								<h4 class="panel-title">Accounting</h4>
							</h:panelGroup>
						</h:commandLink>
						<h:panelGroup layout="block" id="main-menu-accounting" class="panel-collapse collapse" role="tabpanel" aria-labelledby="main-menu-header">
							<h:panelGroup layout="block" class="panel-body">
								<li class=""><h:commandLink href="invoicing"><span class="glyphicon icon-home"></span>Invoicing</h:commandLink></li>
							</h:panelGroup>
						</h:panelGroup>
					</h:panelGroup>
					<h:panelGroup layout="block" class="panel panel-default">
						<h:commandLink data-toggle="collapse" href="#main-menu-bookings" aria-expanded="true" aria-controls="settings-collapse">
							<h:panelGroup layout="block" class="panel-heading" role="tab" id="settings-header-01">
								<h4 class="panel-title">Bookings</h4>
							</h:panelGroup>
						</h:commandLink>
						<h:panelGroup layout="block" id="main-menu-bookings" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="settings-header-02">
							<h:panelGroup layout="block" class="panel-body">
								<li class="active"><h:commandLink href="bookings"><span class="glyphicon icon-map"></span>Bookings</h:commandLink></li>
								<li class=""><h:commandLink href="cancelledbookings"><span class="glyphicon icon-book"></span>Cancelled Bookings</h:commandLink></li>
								<li class=""><h:commandLink href="summary"><span class="glyphicon icon-sigma"></span>Summary</h:commandLink></li>
								<li class=""><h:commandLink href="orders"><span class="glyphicon icon-book"></span>Orders</h:commandLink></li>
								<li class=""><h:commandLink href="emailparser"><span class="glyphicon icon-mail"></span>Email Parser</h:commandLink></li>
							</h:panelGroup>
						</h:panelGroup>
					</h:panelGroup>
					<h:panelGroup layout="block" class="panel panel-default">
						<h:commandLink :data-toggle="collapse" href="#main-menu-commisions" :aria-expanded="true" :aria-controls="settings-collapse">
							<h:panelGroup layout="block" class="panel-heading" role="tab" id="settings-header-03">
								<h4 class="panel-title">Commissions</h4>
							</h:panelGroup>
						</h:commandLink>
						<h:panelGroup layout="block" id="main-menu-commisions" class="panel-collapse collapse" role="tabpanel" aria-labelledby="settings-header-04">
							<h:panelGroup layout="block" class="panel-body">
								<li class=""><h:commandLink href="usercommissions"><span class="glyphicon icon-map"></span>User Commissions</h:commandLink></li>
								<li class=""><h:commandLink href="commissionrates"><span class="glyphicon icon-book"></span>Commission Rates</h:commandLink></li>
							</h:panelGroup>
						</h:panelGroup>
					</h:panelGroup>
					<h:panelGroup layout="block" class="panel panel-default">
						<h:commandLink :data-toggle="collapse" href="#main-menu-logs" :aria-expanded="true" aria-controls="settings-collapse">
							<h:panelGroup layout="block" class="panel-heading" role="tab" id="settings-header-05">
								<h4 class="panel-title">Logs</h4>
							</h:panelGroup>
						</h:commandLink>
						<h:panelGroup layout="block" id="main-menu-logs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="settings-header-06">
							<h:panelGroup layout="block" class="panel-body">
								<li class=""><h:commandLink href="searchlog"><span class="glyphicon icon-map"></span>Search Log</h:commandLink></li>
								<li class=""><h:commandLink href="activitylog"><span class="glyphicon icon-book"></span>Activity Log</h:commandLink></li>
								<li class=""><h:commandLink href="actionlog"><span class="glyphicon icon-location"></span>Action Log</h:commandLink></li>
							</h:panelGroup>
						</h:panelGroup>
					</h:panelGroup>
					<h:panelGroup layout="block" class="panel panel-default">
						<h:commandLink data-toggle="collapse" href="#main-menu-masterdata" aria-expanded="true" aria-controls="settings-collapse">
							<h:panelGroup layout="block" class="panel-heading" role="tab" id="settings-header-07">
								<h4 class="panel-title">Master Data</h4>
							</h:panelGroup>
						</h:commandLink>
						<h:panelGroup layout="block" id="main-menu-masterdata" class="panel-collapse collapse" role="tabpanel" aria-labelledby="settings-header-08">
							<h:panelGroup layout="block" class="panel-body">
								<li class=""><h:commandLink href="highlighted"><span class="glyphicon icon-map"></span>Highlighted Locations</h:commandLink></li>
								<li class=""><h:commandLink href="options"><span class="glyphicon icon-book"></span>Options</h:commandLink></li>
								<li class=""><h:commandLink href="companies"><span class="glyphicon icon-location"></span>Companies</h:commandLink></li>
								<li class=""><h:commandLink href="users"><span class="glyphicon icon-office"></span>Users</h:commandLink></li>
								<li class=""><h:commandLink href="emails"><span class="glyphicon icon-office"></span>Emails</h:commandLink></li>
								<li class=""><h:commandLink href="partners"><span class="glyphicon icon-office"></span>Partners</h:commandLink></li>
							</h:panelGroup>
						</h:panelGroup>
					</h:panelGroup>
					<h:panelGroup layout="block" class="panel panel-default">
						<h:commandLink data-toggle="collapse" href="#main-menu-prices" aria-expanded="true" aria-controls="settings-collapse">
							<h:panelGroup layout="block" class="panel-heading" role="tab" id="settings-header-09">
								<h4 class="panel-title">Prices</h4>
							</h:panelGroup>
						</h:commandLink>
						<h:panelGroup layout="block" id="main-menu-prices" class="panel-collapse collapse" role="tabpanel" aria-labelledby="settings-header-10">
							<h:panelGroup layout="block" class="panel-body">
								<li class=""><h:commandLink href="pricesanddestinations"><span class="glyphicon icon-map"></span>Prices &amp; Destinations</h:commandLink></li>
								<li class=""><h:commandLink href="xls"><span class="glyphicon icon-book"></span>Prices XLS</h:commandLink></li>
								<li class=""><h:commandLink href="partnerprices"><span class="glyphicon icon-office"></span>Partner Prices</h:commandLink></li>
							</h:panelGroup>
						</h:panelGroup>
					</h:panelGroup>
					<h:panelGroup layout="block" class="panel panel-default">
						<h:commandLink data-toggle="collapse" href="#main-menu-translations" aria-expanded="true" aria-controls="settings-collapse">
							<h:panelGroup layout="block" class="panel-heading" role="tab" id="settings-header-11">
								<h4 class="panel-title">Translations</h4>
							</h:panelGroup>
						</h:commandLink>
						<h:panelGroup layout="block" id="main-menu-translations" class="panel-collapse collapse" role="tabpanel" aria-labelledby="settings-header-12">
							<h:panelGroup layout="block" class="panel-body">
								<li class=""><h:commandLink href="countries"><span class="glyphicon icon-map"></span>Countries</h:commandLink></li>
								<li class=""><h:commandLink href="locations"><span class="glyphicon icon-book"></span>Locations</h:commandLink></li>
								<li class=""><h:commandLink href="emailtemplates"><span class="glyphicon icon-office"></span>Email Templates</h:commandLink></li>
								<li class=""><h:commandLink href="languages"><span class="glyphicon icon-map"></span>Languages</h:commandLink></li>
								<li class=""><h:commandLink href="staticcontent"><span class="glyphicon icon-book"></span>Static Content</h:commandLink></li>
								<li class=""><h:commandLink href="globalcategorycomments"><span class="glyphicon icon-office"></span>Global Cat. Comments</h:commandLink></li>
								<li class=""><h:commandLink href="customcategorycomments"><span class="glyphicon icon-office"></span>Custom Cat. Comments</h:commandLink></li>
								<li class=""><h:commandLink href="rewriteindex"><span class="glyphicon icon-office"></span>Rewrite Index</h:commandLink></li>
								<li class=""><h:commandLink href="rewritepages"><span class="glyphicon icon-office"></span>Rewrite Pages</h:commandLink></li>
							</h:panelGroup>
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>
			</ul>
		</h:panelGroup>
		<h:panelGroup layout="block" class="navbar navbar-default fox-navbar">
			<h:panelGroup layout="block" class="container-fluid">
				<h:panelGroup layout="block" class="navbar-header">
					<h:commandLink href="#menu-toggle" id="menu-toggle"><span class="glyphicon icon-list4"></span></h:commandLink>
					<h:commandLink id="menu-info" tabindex="0" data-container="body" role="button" data-placement="bottom" data-toggle="popover" data-trigger="focus" data-html="true" title="Informations" data-content="&lt;div class'row'&gt;&lt;div class='col-md-4'&gt;&euro; 314.43&lt;/div&gt;&lt;div class='col-md-4'&gt;$ 242.86&lt;/div&gt;&lt;div class='col-md-4'&gt;&pound; 392.78&lt;/div&gt;&lt;/div&gt;"><span class="glyphicon icon-help"></span></h:commandLink>
				</h:panelGroup>
				<h:panelGroup layout="block" class="dropdown pull-right user-preferences">
					<h:commandLink class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						<span class="glyphicon icon-user"></span> András Radimszky
						<span style="margin-top:5px" class="caret"></span>
						<span style="display:table-cell; font-size:10px; padding-left:32px">super administrator</span>
					</h:commandLink>
					<ul class="dropdown-menu" jsf:role="menu" jsf:aria-labelledby="dropdownMenu1">
						<li jsf:role="presentation"><h:commandLink role="menuitem" tabindex="-1" href="profile">Profile</h:commandLink></li>
						<li jsf:role="presentation"><h:commandLink role="menuitem" tabindex="-1" href="/foxtransfer/admin/login.php">Logout</h:commandLink></li>
					</ul>
				</h:panelGroup>
			</h:panelGroup>
	</h:panelGroup>

		<h:panelGroup layout="block" id="page-content-wrapper">
			<h:panelGroup layout="block" class="container-fluid">
				<ui:insert name="content-template"/>
			</h:panelGroup>
		</h:panelGroup>
	</h:panelGroup>


	<!-- Menu Toggle Script -->
	<script type="text/javascript">
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
		$("#menu-info").click(function(e) {
			$('#menu-info').popover('show')
		});
	</script>


</h:body>
</f:view>
</html>