<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/master-layout.xhtml">


	<ui:define name="head-extra-template">
		<link
			href="#{facesContext.externalContext.requestContextPath}/public/styles/module-header-menu.css"
			rel="stylesheet" type="text/css" />
		<link
			href="#{facesContext.externalContext.requestContextPath}/public/styles/module-hint-bubble.css"
			rel="stylesheet" type="text/css" />
		<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/public/styles/js/validation.js" />
		<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/public/js/jquery.ba-postmessage.min.js"></script>

		<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/public/js/backoffice-menu.js" />
		<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/resources/js/footer.js" />
		<ui:insert name="head-extra-template-um" />
	</ui:define>

	<ui:define name="header">
		<h:panelGroup id="headerContent" layout="block"
			styleClass="backoffice">
<!-- 			<h:panelGroup id="headerInfoBar" layout="block" -->
<!-- 				styleClass="header-info-bar"> -->
<!-- 				Logo -->
<!-- 				<h:panelGroup id="logoContainer" styleClass="logo-container"> -->
<!-- 					<p:graphicImage -->
<!-- 						value="/public/images/logo-top.png" -->
<!-- 						styleClass="logo" /> -->
<!-- 				</h:panelGroup> -->

<!-- 			</h:panelGroup> -->
		</h:panelGroup>
	</ui:define>

	<ui:define name="content-template">
		<h:panelGroup id="main-content"  layout="block">
			<h:panelGroup>
				<h:form>
				<p:menu>
					<p:submenu label="Ajax">
						<p:menuitem value="Save" 
							icon="ui-icon-disk" />
						<p:menuitem value="Update" 
							icon="ui-icon-arrowrefresh-1-w" />
					</p:submenu>
					<p:submenu label="Non-Ajax">
						<p:menuitem value="Delete" 
							ajax="false" icon="ui-icon-close" />
					</p:submenu>
					<p:submenu label="Navigations">
						<p:menuitem value="External" url="http://www.primefaces.org"
							icon="ui-icon-home" />
						<p:menuitem value="Internal" 
							icon="ui-icon-star" />
					</p:submenu>
				</p:menu>
				</h:form>
			</h:panelGroup>
			<h:panelGroup styleClass="bo content-wrapper bordered-box"
				layout="block">
				<ui:insert name="content" />
			</h:panelGroup>
		</h:panelGroup>
	</ui:define>

	<ui:define name="footer">
		<h:panelGroup id="footer" layout="block" styleClass="backoffice">
			<h:panelGroup layout="block" styleClass="footer-content">
				<h:panelGroup layout="block" styleClass="copyright-container">
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>
	</ui:define>

</ui:composition>