<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	lang="#{paramCurrentLocale != null ? paramCurrentLocale.language : language.currentLocale.language }">
<f:view locale="#{paramCurrentLocale != null ? paramCurrentLocale : language.currentLocale }">
<h:head>
	<f:facet name="first">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Cache-Control" content="no-store,no-cache,must-revalidate"/> 
		<meta http-equiv="Pragma" content="no-cache"/>  
		<meta http-equiv="Expires" content="-1"/>
		<link type="image/x-icon" rel="icon" href="#{pubres['img/theme/favicon.ico']}"/>
		<title><ui:insert name="capital-title">#{msg['global.header-title']}</ui:insert></title>
		<meta name="description" content="#{msg['global.header-description']}" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />	
		
	</f:facet>
	<!-- primefaces.css -->
	<h:outputScript library="primefaces" name="jquery/jquery.js" />
	<h:outputScript library="js" name="jquery.placeholder.js" />
	
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/public/styles/js/highlight.js"></script>
	<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/public/js/jquery.ba-postmessage.min.js"></script>
			
	<script type="text/javascript" src="#{pubres['js/common/ggl-nlytcs.js']}"></script>
		
	<link type="text/css" rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/style/reset.css" />
	<link type="text/css" rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/style/base.css" />
	<link type="text/css" rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/style/layout-template-master-layout.css" />
	<link type="text/css" rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/style/state.css" />

	<link type="text/css" rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/javax.faces.resource/theme.css.xhtml?ln=theme"/>
			
	<ui:insert name="head-extra-template"/>
	<ui:insert name="head-extra"/>
	
</h:head> 
<h:body>
	<ui:include src="/assets/globalAjaxLoader.xhtml" />
	
	<ui:include src="/assets/sessionTimeoutAsset.xhtml" />
	
	<ui:insert name="header"/>
	
	<ui:insert name="content-template"/>
		
	<ui:insert name="footer"/>
	
</h:body>
</f:view>
</html>