button, .ui-button{
	word-break: normal;
}

.highlight {
	font-weight: bold;
}

.clear-both{
	clear:both;
	display:block;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.display-block{
	display:block;
}

.display-inline-block {
	display: inline-block;
}

.display-table{
	display: table;
	width: 100%;
}

.display-table-fixed{
	display: table;
	width: 100%;
	table-layout: fixed;
}

.display-table-cell{
	display: table-cell;
}

.float-right{
	float:right;	
}

.capital-title {
	text-align:center;
	display:block;
	font-weight:bold;
	/*text-transform:uppercase;*/
	padding:10px 0px;
}

.section{
	margin-bottom: 15px;
	margin-right: 3px;
}

.section-title {
	font-size:15px;
	display:block;
	font-weight:bold;
	margin: 5px 2px 5px 2px;
}

.section-title, .page-title {
	text-decoration: none;
}

.align-center-helper {
	margin-left: auto;
	margin-right: auto;
}

.paragraph{
	display:block;
	margin:5px 0px 20px 0px;
}

.paragraph-reverse{
	display:block;
	margin:20px 0px 5px 0px;
}

.nobr{
	white-space: nowrap;
}

.global-ajax-loader-dialog .ui-dialog-content{
	text-align:center;
}

/* Primefaces Override */
.ui-datatable .ui-column-filter{
	max-width: 75%;
}

.ui-widget-overlay{
	width: 100% !important;
}

.ui-dialog,
.ui-dialog .ui-dialog-content{
	overflow: visible;
}

.ui-datatable table {
	table-layout: auto;
}

.fixed-col-datatable table {
	table-layout: fixed;
}

table td,
.ui-datatable td,
.ui-panelgrid td {
	word-break: break-word;
	-ms-word-break: normal;
}

table th,
.ui-datatable th,
.ui-panelgrid th {
	vertical-align: middle;
	line-height: 20px;
}

.ui-radiobutton-box, .ui-chkbox-box, .ui-selectonemenu {
	vertical-align: middle;
}

.ui-datatable .ui-selection-column .ui-chkbox-box{
	vertical-align: top;
}

.ui-selectonebutton .ui-button {
	margin: 0 5px;
}

.ui-dialog .ui-buttonpane {
	text-align: right;
	padding: 0;
	margin: 0;
}

.ui-dialog .ui-dialog-titlebar-close:hover {
	padding: 1px;
}

.ui-panelmenu .ui-panelmenu-header.ui-state-active {
	text-decoration: underline;
	font-weight: bold;
}

.ui-panelmenu .ui-panelmenu-header a {
	padding: .5em .5em .5em 0em;
	font-weight: bold;
}

.ui-panelmenu-header .ui-icon {
	display: none;
}

.ui-panelmenu .ui-panelmenu-content {
	padding-left: 15px;
}

.ui-picklist {
	margin: 20px auto;
}

.ui-picklist td {
	vertical-align: middle;
	padding: 0 3px;
}

.ui-picklist .ui-picklist-caption {
	max-width: 270px;
}

.ui-picklist .ui-picklist-caption,
.ui-picklist .ui-picklist-item {
	line-height: 20px;
}

.ui-picklist-item {
	font-size: 12px;
	padding-top: 1px !important;
	padding-bottom: 1px !important;
}

.ui-picklist .ui-picklist-list {
	padding: 5px;
	width: 280px;
}

.ui-picklist .ui-inputfield {
	margin: 0;
	padding: 4px 13px 4px 15px;
	width: 100%;
	box-sizing: border-box;
	height: 30px;
	line-height: 30px;
}

.ui-picklist .ui-chkbox {
	vertical-align: middle;
	margin-right: 5px;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav {
	padding: 0;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav li {
	margin: 0 0.1em 0 0;
	top: 0;
}

/* Primefaces calendar style */
.ui-datepicker-calendar .ui-datepicker-unselectable {
	opacity: 0.3;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev.ui-state-disabled,
.ui-datepicker .ui-datepicker-next.ui-state-disabled {
	opacity: 0.9;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 2px;
	opacity: 1;
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
}

.text-bold {
	font-weight: bold;
}

/* Context menu */
.context-menu{
	width: 200px;
	float: left;
	margin-right: 10px;
}

.context-menu + div{
	overflow: hidden;
}

/* Sticky calendar */
.sticky-calendar{
	white-space: nowrap;
}

.sticky-calendar .ui-inputfield{
	margin-right: 0px;
	vertical-align: middle;
}

.sticky-calendar .ui-datepicker-trigger{
	margin: 0px;
	height: 30px;
	vertical-align: middle;
}

/* jQuery mobile */
.ui-collapsible .ui-collapsible-heading .ui-collapsible-heading-status{
	display: none;
}

.ui-collapsible .ui-collapsible-content.ui-collapsible-content-collapsed{
	display: none;
}

/* Media queries */
@media all and (max-width: 1024px){
	.ui-datatable thead th{
		font-size: 90%;
		text-overflow: ellipsis;
	}
	
}

@media all and (max-width: 800px){
	.context-menu{
		float: none;
		width: 100%;
		margin: 0;
		overflow: hidden;
		
		-webkit-transition: height 0.5s ease-in-out 0s;
		-moz-transition: height 0.5s ease-in-out 0s;
		-o-transition: height 0.5s ease-in-out 0s;
		-ms-transition: height 0.5s ease-in-out 0s;
		transition: height 0.5s ease-in-out 0s;
	}
	
}