html, body{
	min-height: 100%;
}

html{
	position: relative;
}

.content-wrapper {
	margin-left: auto;
	margin-right: auto;
	/*width: 1080px;*/
	width: 85%;
}

.content-wrapper-fix{
	margin-left: auto !important;
	margin-right: auto !important;
	width: 1080px !important;
}

/* Kontainerek háttérszínek egységesítése a kontrollokat nem tönkretéve */
.content-wrapper div, .content-wrapper table, .content-wrapper .ui-widget-content{
	/* Problémát okozhat */
	/* background-color: inherit;  */
}

#headerContent .header-info-bar {
	width: 100%;
	position:fixed;
	z-index:10;
}

#header-menu-section {
	height: 45px;
	margin-bottom: 20px;
	padding-top:36px;
}

#main-content{
	margin: 0px auto 0px auto;
}

/* BO TEMPLATE */
#main-content .content-wrapper {
	padding: 10px 15px;
}

#footer{
	padding: 5px 0px;
	position: absolute;
	width: 100%;
	bottom: 0;
}

#footer .footer-content{
	display: table;
	width: 85%;
	margin: 0 auto;
	line-height: 20px;
}

#footer .footer-content > div{
	display: table-cell;
	vertical-align: middle;
}

#footer.backoffice .version-container{
	text-align: right;
}

.inner-box{
	background-color:#ffffff;
	border:1px solid #f5f5f5;
}

.session-timeout-dialog{
	width: 400px !important;
	text-align: center;
	position: absolute !important;
}

.session-timeout-dialog .timeout-dialog-actions{
	margin-top: 10px;
}

/* Media queries */
@media all and (max-width: 1100px){
	.content-wrapper{
		width: 95%;
	}
	
	#footer .footer-content{
		width: 95%;
	}
}

@media all and (max-width: 600px){
	#main-content .content-wrapper.bo {
		padding: 10px 5px;
	}
}

@media all and (max-width: 460px){
	#footer.backoffice .footer-content > div{
		display: block;
		text-align: left;
	}
}

@media all and (max-width: 410px){
	.session-timeout-dialog{
		width: 300px !important;
	}
	
}