/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: #eaeaea;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */
.sidebar-group {
	font-variant: small-caps;
	font-weight: 600;
}

.sidebar-nav .glyphicon {
	margin-right: 15px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 244px;
	height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
	margin-left: 6px;
	background-color: #fff;
}

.sidebar-nav li.active {
	border-left: 6px solid #cd0c11;
	margin-left: -6px;
}

.sidebar-nav li.active a {
	color: #cd0c11;
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 34px;
}

.sidebar-nav li a {
    display: block;
	font-size: 14px;
    text-decoration: none;
    color: #515253;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #cd0c11;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 50px;
    font-size: 18px;
	margin-left: -6px;
	border-left: 6px solid #cd0c11;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}



/* collapse-menu */
#fox-menu-accordion .panel-title {
	font-variant: small-caps;
	font-weight: 600;
	font-size: 14px;
	color: #515253;
}

#fox-menu-accordion .panel-default {
	border: 0px;
	border-radius: 0px;
	box-shadow: none;
	//margin-left: -10px;
}

#fox-menu-accordion .panel-body {
	padding: 0px;
	padding-top: 0px;
}
#fox-menu-accordion a {
	text-decoration: none;
}


