

.ui-inputtext.input-error::-webkit-input-placeholder {
   color: white;
   text-shadow: none;
   opacity: 1;
}

.ui-inputtext.input-error:-moz-placeholder { /* Firefox 18- */
   color: white;
   text-shadow: none; 
   opacity: 1;
}

.ui-inputtext.input-error::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   text-shadow: none;
   opacity: 1;
}

.ui-inputtext.input-error:-ms-input-placeholder {  
   color: white;
   text-shadow: none; 
   opacity: 1;
}

.ui-inputtext.input-error{
	background-color:#ff3a3a;
	color:#FFFFFF;
}

.ui-inputfield.input-error::-webkit-input-placeholder {
   color: white;
   text-shadow: none;
   opacity: 1;
}

.ui-inputfield.input-error:-moz-placeholder { /* Firefox 18- */
   color: white;
   text-shadow: none; 
   opacity: 1;
}

.ui-inputfield.input-error::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   text-shadow: none;
   opacity: 1;
}

.ui-inputfield.input-error:-ms-input-placeholder {  
   color: white;
   text-shadow: none; 
   opacity: 1;
}

.ui-inputfield.input-error, .address-input.input-error input{
	background-color:#ff3a3a;
	color:#FFFFFF;
}