@import 'variables.less';

body {
	background-color: @fox-body-bg;
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-size: 22px;
	color: @fox-h1-color;
}
.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 15px;
}
.fox-navbar {
	background-color: @fox-menu-bg;
	border-radius: 0px;
	height: 50px;
	border: 0px;
	padding: 5px;
	margin-bottom: 0px;
	color: #fff;
}
.navbar .glyphicon {
	color: #fff;
	font-size: 18px;
	margin-right: 10px;
}

#menu-info {
	cursor: pointer;
}

a#menu-info:focus {
	outline: none !important;
}

.popover, .dropdown-menu {
	border-radius:0px;
}

.user-preferences {
	cursor: pointer;
	margin-top: -5px
}

.user-preferences a {
	color: #fff;
	text-decoration: none;
}

.user-preferences .glyphicon.icon-user {
    top: 7px;
}